
/* 
$purple: #620472;
$yellow: #fbf678;
$red: #fe6263;
$blue: #015896;
$grey: #1d1d1d; 
*/

@font-face {
    font-family: 'Heebo';
    src: url('fonts/Heebo-Medium.woff2') format('woff2'),
        url('fonts/Heebo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Light.woff2') format('woff2'),
        url('../fonts/Heebo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Black.woff2') format('woff2'),
        url('../fonts/Heebo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    min-height: 100vh;
}

body {
    background-color: #1d1d1d;
}

aside {
    top:5vh;
    left:10vw;
    position: absolute;
    width:20vw;
    max-width: 26.66vh;
    height:60vw;
    max-height: 80vh;
    background-color: #fe6263;
    z-index: 2;
}

main {
    color: #1d1d1d;
    padding:3%; 
    padding-left: 13%;
    position: relative;
    background-color: #fbf678;
    width:70vw;
    height:80vh;
    top:10vh;
    left:20vw;
}

.drop-shadow {
    box-shadow:0px 0px 20px rgba(0,0,0,.34);
}

.purple {
    position: fixed;
    width:56vw;
    height:100vh;
    z-index: -2;
    background-color: #620472;
    top:0;
    right:0;
}

.icons img {
    position: relative;
    bottom: 0px;
    display: block;
    float: left;
    width:42.5%;
    margin-top:6.4%;
    margin-left:5%;
    transition: bottom .3s ease, opacity .3s ease;
}
.icons img:hover {
    cursor:pointer;
    position: relative;
    bottom: 4px;
    opacity:.9;
}

.blue {
    z-index: -1;
    display: inline-block;
    float: left;
    height:91%;
    width:44%;
    position: fixed;
    top:6%;
    right:18%;
    background-color: #015896;
}

h1 {
    margin:0;
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size:6.5vw;
    text-align: center;
}
h3 {
    margin:0;
    font-family: Heebo, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2vw;
    text-align: center;
}

form {
    margin:1rem 0;
}
input {
    box-sizing: border-box;
    border: 1px solid #1d1d1d;
    border-radius: 2px;
    background-color: #fbf678;
    font-family: Heebo, sans-serif;
    font-weight: 500;
    outline: none;
    width:calc(25% - .375rem);
    margin-left:.5rem;
    height:2rem;
    display: block;
    float: left;
    text-align: center;
}
input:first-child {
    margin-left:0;
}

input:focus {
    border: 2px solid #1d1d1d;
    
}

input::placeholder {
    color: #1d1d1d;
    opacity: .5;
}
input[type="button"] {
    cursor: pointer;
}
input[type="button"]:focus {
    border: 1px solid #1d1d1d;

}
input[type="button"]:hover {
    border: 2px solid #1d1d1d;
    
}
input[type="button"]:active {
    border: 2px solid #1d1d1d;
    background-color: rgba(0,0,0,.1);
    
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}
::-webkit-clear-button{
    display: none; /* Hide the button */
    -webkit-appearance: none; /* turn off default browser styling */
    
}