/* 
$purple: #620472;
$yellow: #fbf678;
$red: #fe6263;
$blue: #015896;
$grey: #1d1d1d; 
*/

@font-face {
	font-family: "Heebo";
	src: url("../fonts/Heebo-Medium.woff2") format("woff2"),
		url("../fonts/Heebo-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Heebo";
	src: url("../fonts/Heebo-Light.woff2") format("woff2"),
		url("../fonts/Heebo-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Heebo";
	src: url("../fonts/Heebo-Black.woff2") format("woff2"),
		url("../fonts/Heebo-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	min-height: 100vh;
}

body {
	background-color: #1d1d1d;
}

aside {
	top: 5vh;
	float: left;
	position: relative;
	width: 21vw;
	height: 63vw;
	background-color: #fe6263;
	z-index: 2;
	min-width: 174px;
	min-height:522px;
	max-height: 85vh;
	max-width: 28.333vh;
}

main {
	color: #1d1d1d;
	padding: 3%;
	padding-left: 13%;
	position: absolute;
	background-color: #fbf678;
	width: 85%;
	top: 10vh;
	right: 0;
}

.drop-shadow {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.34);
}

.purple {
	position: fixed;
	width: 45vw;
	height: 100vh;
	z-index: -2;
	background-color: #620472;
	top: 0;
	right: 0;
}

.icons img {
	position: relative;
	bottom: 0px;
	display: block;
	float: left;
	width: 42.5%;
	margin-top: 6.4%;
	margin-left: 5%;
	transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icons img:hover {
	cursor: pointer;
	position: relative;
	bottom: 4px;
	opacity: 0.9;
}

.blue {
	z-index: -2;
	float: left;
	height: 100%;
	min-height: 400px;
	width: 100%;
	position: fixed;
	top:0%;
	left: 25%;
	background-color: #015896;
}

h1 {
	margin: 0;
	font-family: Heebo, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 6.5vw;
	text-align: center;
}

h2 {
	margin: 0;
	font-family: Heebo, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 5vw;
}
.infoWrapper {
	position: absolute;
	width: 100%;
	top:110%;
	left: 0;
	overflow:hidden;
	animation: 2s slidein ease forwards;
	max-height: 9vw;
}
.artistInfo {
	width: 72vw;
	padding: 2.55vw 2.55vw 2.55vw 10.75vw;
	background-color: #fbf678;

	/* height: fit-content; */
}

@keyframes slidein {
	0% {width:0;}
	50%{max-height: 9vw; width:100%;}
	100%{max-height:80vh}
}


.artistInfo img {
	margin-top:.5rem;
	width:100% ;
}

.artistInfo p a {
	color:#1d1d1d;

}
p {
	margin: 0;
	font-family: Heebo, sans-serif;
	font-weight: 300;
	font-size: 2vw;
	margin-top: .5rem;
}


h3 {
	margin: 0;
	margin-top: .5rem;
	font-family: Heebo, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 2vw;
	text-align: center;
}

@media screen and (min-width: 1117px) {

	h1 {
		font-size: 4.5rem;
	}
	h3 {
		font-size: 1.39rem;
	}
	h2 {
		font-size: 3.3rem;
	}
	p {
		font-size: 1.31rem;
	}
	aside {
		width: 235px;
		height: 704px;
	}

	.artistInfo {
		width:50.265rem;
		padding: 1.78rem 1.78rem 1.78rem 7.478rem;

	}
	.infoWrapper {
		max-height: 6.28rem;
	}
	@keyframes slidein {
		0% {width:0;}
		50%{max-height: 6.28rem; width:100%;}
		100%{max-height:80vh}
	}
}

form {
	margin: 1rem 0;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: border-box;
	border: 1px solid #1d1d1d;
	border-radius: 2px;
	background-color: #fbf678;
	font-family: Heebo, sans-serif;
	font-weight: 500;
	outline: none;
	width: calc(25% - 0.375rem);
	margin-left: 0.5rem;
	height: 2rem;
	display: block;
	float: left;
	text-align: center !important;
}

input:first-child {
	margin-left: 0;
}

input:focus {
	border: 2px solid #1d1d1d;
}

input::placeholder {
	padding-top: 0.17rem;
	color: #1d1d1d;
	opacity: 0.5;
}
input[type="button"] {
	cursor: pointer;
}
input[type="button"]:focus {
	border: 1px solid #1d1d1d;
}
input[type="button"]:hover {
	border: 2px solid #1d1d1d;
}
input[type="button"]:active {
	border: 2px solid #1d1d1d;
	background-color: #1d1d1d;
}
/* 
input[type="date"] {
	text-align: -moz-center;
} */
.centerwrapper {
	width: 85vw;
	height: 100vh;
	max-width: 950px;
	margin: auto;
	position: relative;
}

@media screen and (max-width: 720px) {
	@keyframes slidein {
		0% {width:0;}
		100%{width:100%;}
	}
	.infoWrapper {
		max-height:unset;
		animation: 1s slidein ease forwards;
	}
	body {
		height: 100%;
		padding: 0;
	}
	p {
		font-size: 1rem;
	}
	.centerwrapper {
		width: 100%;
		height: calc(42vh + 150vw + 3rem);
		min-height: calc(400px + 126vw + 3rem);
		max-height: calc(120vw + 650px + 3rem);
	}

	aside {
		position: absolute;
		top: initial;
		bottom: 0px !important;
		min-height: 0;
		min-width: 0;
		margin: 0 auto;
		right: 10vw;
		width: 80vw !important;
		max-width: none;
		height: 106.6666vw;
		max-height: none;
		margin-bottom: 3rem;
	}
	.artistInfo {
		padding: 2.7vw;
		width:87.3vw;
	}
	main {
		top:5vh;
		width: 90%;
		left: 5%;
		max-width: 100%;
		padding: 3%;
	}



	.icons img {
		width: 26.5%;
		margin-top: 5.5%;
		margin-left: 5%;
		transition: bottom 0.3s ease, opacity 0.3s ease;
	}
	.icons img:hover {
		cursor: pointer;
		bottom: 0px;
		opacity: 0.6;
	}

	h1 {
		font-size: 9.5vw;
	}

	h3 {
		font-size: 3vw;
	}
	h2 {
		font-size:1.5rem;
	}
	form {
		margin-top: 0.5rem;
	}
	input {
		font-size: 1rem;
		height: 2rem;
		width: calc(50% - 0.25rem);
		margin-left: 0;
		margin-bottom: 0.5rem;
	}
	input:first-child,
	input:nth-child(3) {
		margin-right: 0.5rem;
	}
	.blue {
		display: none;
	}
}
